.app{
  width: 60%;
  margin: auto;
  color: white;
  height: min-content;
  padding-bottom: 5%;
}

.title{
  text-align: center;
}

.main-content{
  padding: 0 5%;
  color: white;
}

.disclaimer-container{
  padding: 5% 5% 0 5%;
}

.no-results{
  padding: 0 5%;
  color: grey;
  font-size: .8em;
}

@media only screen and (max-width: 880px) {
  .app{
    width: 90%;
  }
}
.beer-container{
  border-bottom: 1px solid grey;
  padding-top: 2%;
}

.beer{
  font-style: italic;
  font-size: 1.2em;
}

.beer-author{
  color: lightgray;
  font-size: .9em;
}

.highlight{
  font-weight: bold;
  color: aquamarine;
}
.searchbar{
  width: 100%;
  padding: 5%;
  padding-top: 0;
}

.searchbar-input{
  width: 100%;
  padding: 1.5%;
  border-radius: 5px;
  border: solid 1px white;
  background-color: rgba(255, 255, 255, .13);
  color: white;
  font-size: 1em;
}

.searchbar-input:focus{
  border: solid 1px aquamarine;
}

@media only screen and (max-width: 480px) {
  .searchbar-input{
    padding: 5%;
  }
}